
@{
    ViewBag.Title = "Index";
}

<h2>Create Auction</h2>

<div>
     <a href="@Url.Action("Create", "Product")">Create Product</a>
</div>

<div id="biddingProcess">
    <form>
        <div class="form-group">
            <label for=""
        </div>
    </form>
</div>