@model ListBidsViewModel

@if (Model.Bids != null && Model.Bids.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Starting Price</th>
                <th>Bidder</th>
                <th>Bid</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bid in Model.Bids)
            {
                <tr>
                    <td>@Model.Product.ActualPrice</td>
                    <td>@bid.Bidder.FullName</td>
                    <td>@bid.TotalBidAmount</td>
                    <td>@bid.BidAmount</td>
                </tr>
            }
        </tbody>
    </table>
}